@model BJCWebApp.Models.JobApplication

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.IsRegistered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.IsRegistered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.HighestLevelOfEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.HighestLevelOfEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.PaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInterested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInterested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateApplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateApplied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVFile.Title)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-controller="CVFiles" asp-route-id="@Model.CVFile.ID">@Html.DisplayFor(model => model.CVFile.Title)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
