@page
@model BJCWeb.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.RefID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.RefID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.ContractType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Requirments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Requirments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Benefits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Benefits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.HideCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.HideCompany)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
