@page
@model BJCWeb.Pages.JobApplications.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].JobID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].IsInterested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].DateApplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].HasCV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].CVID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication[0].FreeText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobApplication) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInterested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApplied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeText)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
